
/*
styling JavaFX using CSS : https://www.callicoder.com/javafx-css-tutorial/
 load CSS into JavaFX : https://stackoverflow.com/questions/22627579/how-load-css-file-in-javafx8
 */

* {
    -fx-background-color: #47D66D;
    -fx-font-family: monospace;
}

.nickname-text-field {
    -fx-background-image: url("../Graphics/Other/newNicknameBG.png");
}



